# Central API URL for axios
VITE_API_BASE_URL=/api

# Authentication Bypass Feature Flag (Set to true in development, false in production)
VITE_AUTH_BYPASS_MODE=true

# Default Application Theme ('dark' or 'light')
VITE_DEFAULT_THEME=dark
